## ETL CORPORATIVO

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('etllimpieza.xlsx')
df.head()

,Name,Industry,0.65,0.7,0.75,0.799999999999999,0.849999999999999,Duplicate (TRUE or FALSE)
0,Central Veterinária,Wholesale,NaN,NaN,NaN,NaN,NaN,NaN
1,Adjoint International,Staffing and Recruiting,NaN,NaN,NaN,NaN,NaN,NaN
2,Ninguna,Farming,NaN,NaN,NaN,NaN,NaN,NaN
3,Mensajero,Broadcast Media,NaN,NaN,NaN,NaN,NaN,NaN
4,Intersoft,Information Technology & Services,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd

# Define la ruta del archivo .xlsx que deseas leer
ruta_archivo = 'etllimpieza.xlsx'

# Carga todas las pestañas del archivo .xlsx en un diccionario
diccionario_dataframes = pd.read_excel(ruta_archivo, sheet_name=None)

# Crea un dataframe por cada pestaña del archivo .xlsx
dataframe1 = diccionario_dataframes['empresa']
dataframe2 = diccionario_dataframes['industria']
dataframe3 = diccionario_dataframes['company']
dataframe3.head()

,Name,Internal ID,Industry
0,SUPPLA Almacenes Generales De DepÓsito Gran Co...,12791,Corporate - Big Corporation
1,<aaad ddas,224276,Other
2,(Expocafé) Sociedad Exportadora De Café De Las...,12352,Other
3,", Aké Guardia-BPOao",310268,Other
4,- - johanncamilojimenez@gmail.com,37780008,Other

In [4]:
phraseList=dataframe3['Name'].tolist()
phrase_list = [[row] for row in dataframe3['Name'].tolist()]

In [5]:
class SimilarStringFinder:
    def __init__(self, target_phrase, phrase_list, min_score=0):
        self.target_phrase = target_phrase
        self.phrase_list = phrase_list
        self.scores = None
        self.min_score = min_score
        self.best_match = {"phrase": None, "score": None}
        self.find_scores()

    def find_scores(self):
        self.scores = [
            {"phrase": phrase[0], "score": string_similarity(self.target_phrase, phrase[0])}
            for phrase in self.phrase_list
        ]

        for current_match in self.scores:
            if current_match["score"] < self.min_score:
                continue

            if (
                self.best_match["score"] is None
                or self.best_match["score"] < current_match["score"]
            ):
                self.best_match = current_match

    def get_best_match(self):
        return self.best_match["phrase"]

def string_similarity(str1, str2, substring_length=2, case_sensitive=False):
    if not case_sensitive:
        str1 = str1.lower()
        str2 = str2.lower()

    if len(str1) < substring_length or len(str2) < substring_length:
        return 0

    map = {}
    for i in range(len(str1) - (substring_length - 1)):
        substr1 = str1[i : i + substring_length]
        map[substr1] = map.get(substr1, 0) + 1

    match = 0
    for j in range(len(str2) - (substring_length - 1)):
        substr2 = str2[j : j + substring_length]
        count = map.get(substr2, 0)
        if count > 0:
            map[substr2] = count - 1
            match += 1

    return (match * 2) / (len(str1) + len(str2) - ((substring_length - 1) * 2))

In [ ]:
import time

# Obtener el tiempo de inicio
start_time = time.time()

email_prov_list = [SimilarStringFinder(str(x), phrase_list, 0.8).get_best_match() if str(x) else '' for x in df['Name']]
df['0,8'] = email_prov_list

# Obtener el tiempo de finalización y calcular el tiempo de ejecución
end_time = time.time()
execution_time = end_time - start_time

# Imprimir el tiempo de ejecución
print("Tiempo de ejecución: {:.2f} segundos".format(execution_time))

# Exportar el dataframe a un archivo de Excel
df.to_excel("0_8.xlsx", index=False)